*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
}
header.header{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    color: black;
    box-shadow: 1px 0 2px rgb(0,0,0,.3);
}
header.headeer div.logo{
    font-family: 'Roboto', sans-serif;
}
div.secundary__links{
    display: flex;
    gap: 10px;
}
section.conteiner div.post__embeds{
    margin: auto;
    margin-top: 1em;
    width: 75%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 0 2px;
    margin-bottom: 1em;
}
section.conteiner div.embed__post__informations ul{
    display: flex;
    list-style: none;
    gap: 10px;
}